<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xueweu.atguigu.appnews">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/atguigu_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Login" />
        <activity
            android:name=".activity.Register"
            android:label="用户中心" />
        <activity
            android:name=".activity.Resetpwd"
            android:label="密码修改" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="screenSize|orientation|keyboardHidden" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.PhoneActivity" />
        <activity android:name=".activity.ComponentActivity" />
        <activity android:name=".activity.SimpleComponentActivity" />
        <activity android:name=".activity.ProgressActivity" />
        <activity android:name=".activity.DialogActivity" />
        <activity android:name=".activity.DataStorageActivity" />
        <activity android:name=".activity.SharedPreferenceActivity" />
        <activity android:name=".activity.InternalFileSaveActivity" />
        <activity android:name=".activity.ExternalFileSaveActivity" />
        <activity android:name=".activity.DatabaseSaveActivity" />
        <activity android:name=".activity.NetAppActivity" />
        <activity android:name=".activity.AnimationActivity" />
        <activity android:name=".activity.TestViewAnimationActivity" />
        <activity android:name=".activity.DrawableActivity" />
        <activity android:name=".activity.CallCenterActivity" />
        <activity android:name=".activity.MusicActivity" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>